.spaceships-container{
    margin-left: 2em;
    display: grid;
    grid-template-columns: 33% 33% 33%
}
.SpaceShip{
    border: 1px solid black;
    display: flex;
    align-items: center;
    width:fit-content;
    flex-wrap: wrap;
    margin: 1em 1em;
}